In [35]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import glob
import pandas as pd

In [34]:
# Read in Exoplanet Database csv
exo_df = pd.read_csv("pydata/exoplanet_database.csv", skiprows=[1])
print(list(exo_df.columns))

['STAR', 'COMP', 'ORBREF', 'ORBURL', 'RA', 'FIRSTREF', 'FIRSTURL', 'DEC', 'MSTAR', 'MSTARUPPER', 'MSTARLOWER', 'UMSTAR', 'RSTAR', 'RSTARUPPER', 'RSTARLOWER', 'URSTAR', 'DIST', 'DISTUPPER', 'DISTLOWER', 'UDIST', 'TEFF', 'TEFFUPPER', 'TEFFLOWER', 'UTEFF', 'LOGG', 'LOGGUPPER', 'LOGGLOWER', 'ULOGG', 'FE', 'FEUPPER', 'FELOWER', 'UFE']

In [30]:
# Collect list of stellar parameter files
stellar_param_files = glob.glob("pydata/sumout_files/*")

In [55]:
# Figure out how to parse the files
test_file = stellar_param_files[0]
with open(test_file,'r') as f:
    for i in range(3):
        text = f.readline()
        print(text)

ALL abundances NOT listed below differ from solar by  -0.28 dex

11Com_2012 (generated using the pycalc_ew.py script)

 Teff = 4810. log g = 2.51 (MARCS Sph, Std)           vt= 1.55 M/H=-0.28

In [54]:
subset = [s for s in list(exo_df['STAR']) if "Com" in s]
exo_df[exo_df['STAR'] == '11 Com']

,STAR,COMP,ORBREF,ORBURL,RA,FIRSTREF,FIRSTURL,DEC,MSTAR,MSTARUPPER,...,TEFFLOWER,UTEFF,LOGG,LOGGUPPER,LOGGLOWER,ULOGG,FE,FEUPPER,FELOWER,UFE
2707,11 Com,b,Liu 2008,http://adsabs.harvard.edu/abs/2008ApJ...672..553L,12.345304,Liu 2008,http://adsabs.harvard.edu/abs/2008ApJ...672..553L,17.792653,2.04,0.29,...,79.0,79.0,2.61,0.13,0.13,0.13,-0.34,0.06,0.06,0.06