In [35]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import glob
import pandas as pd

In [34]:
# Read in Exoplanet Database csv
exo_df = pd.read_csv("pydata/exoplanet_database.csv", skiprows=[1])
print(list(exo_df.columns))

['STAR', 'COMP', 'ORBREF', 'ORBURL', 'RA', 'FIRSTREF', 'FIRSTURL', 'DEC', 'MSTAR', 'MSTARUPPER', 'MSTARLOWER', 'UMSTAR', 'RSTAR', 'RSTARUPPER', 'RSTARLOWER', 'URSTAR', 'DIST', 'DISTUPPER', 'DISTLOWER', 'UDIST', 'TEFF', 'TEFFUPPER', 'TEFFLOWER', 'UTEFF', 'LOGG', 'LOGGUPPER', 'LOGGLOWER', 'ULOGG', 'FE', 'FEUPPER', 'FELOWER', 'UFE']

In [144]:
# Collect list of stellar parameter files
stellar_param_files = glob.glob("pydata/sumout_files/*")

In [145]:
# Generate Stellar Parameter DataFrame
stellar_param_dict = {}
files = ["pydata/sumout_files/11Com_2012.m.sumout"]
for file in stellar_param_files:
    with open(file,'r') as f:
        for i, line in enumerate(f):
            if i == 0:
                star = f.readline().split(" ")[0].split("_")[0]
                #print(star)
                params = [elem for elem in f.readline().split(" ") if elem != '']
                #print(params)
                metallicity = params[-2]
                if '-' in metallicity:
                    metallicity = metallicity[4:]
                file_dict = {'Teff': float(params[2]), 'Log_g':float(params[6]), 'M/H':float(metallicity)}
                #print(file_dict)
                stellar_param_dict[star] = file_dict
                
param_df = pd.DataFrame.from_dict(stellar_param_dict, orient='index')

In [165]:
# Cross Reference the two Dataframes, generate a comparison Dataframe
for row in param_df.iterrows():
    print(row[0])
    exo_df_subset = [s for s in list(exo_df['STAR']) if row[0] in s.replace(' ','')]
    print(exo_df_subset)
subset = [s for s in list(exo_df['STAR']) if "Com" in s]
exo_df[exo_df['STAR'] == '11 Com']

11Com
['11 Com']
18Del
['18 Del']
24Sex
['24 Sex', '24 Sex']
7CMa
['7 CMa']
81Cet
['81 Cet']
AlphaAri
[]
BD+12
[]
BD+20274
[]
GammaLeoA
[]
HD100655
['HD 100655']
HD102272
['HD 102272']
HD102329
['HD 102329']
HD105096
[]
HD108863
['HD 108863']
HD108991
[]
HD115202
[]
HD116029
['HD 116029']
HD118082
[]
HD11977
['HD 11977']
HD121056
[]
HD121156
[]
HD123239
[]
HD125217
[]
HD126105
[]
HD131496
['HD 131496']
HD1502
['HD 1502']
HD1690
['HD 1690']
HD17311
[]
HD175541
['HD 175541']
HD176884
[]
HD180902
['HD 180902']
HD181342
['HD 181342']
HD18742
['HD 18742']
HD188105
[]
HD19138
[]
HD192699
['HD 192699']
HD194937
[]
HD19810
[]
HD198599
[]
HD200964
['HD 200964', 'HD 200964']
HD203638
[]
HD205478
[]
HD206610
['HD 206610']
HD20924
[]
HD210702
['HD 210702']
HD212771
['HD 212771']
HD213066
[]
HD21340
[]
HD219553
[]
HD233860
[]
HD24148
[]
HD24316
[]
HD25069
[]
HD28678
['HD 28678']
HD30128
[]
HD30856
['HD 30856']
HD31693
[]
HD31860
[]
HD33142
['HD 33142']
HD33240
[]
HD34909
[]
HD39079
[]
HD4313
['HD 4313']
HD45433
[]
HD5319
['HD 5319', 'HD 5319']
HD58540
[]
HD5877
[]
HD5891
['HD 5891']
HD6037
[]
HD64152
[]
HD6665
[]
HD68776
[]
HD72292
[]
HD73534
['HD 73534']
HD76321
[]
HD84561
[]
HD94386
[]
HD95089
['HD 95089']
HD96036
[]
HD96683
[]
HD98219
['HD 98219']
HD98516
[]
HD98579
[]
HIP113622
[]
HIP117756
[]
Tyc0017-01084-1
[]
Tyc0683-01190-1
[]
Tyc1208-00623-1
[]
col110
[]
epsRet
[]
epsTau
[]
epsilonRet
['epsilon Ret']
mel66
[]
ngc2204
[]
ngc2423
[]
ngc2477
[]
ngc2506
[]
ngc4349
[]
ngc6583
[]
pismis18
[]
xiAql
['xi Aql']

,STAR,COMP,ORBREF,ORBURL,RA,FIRSTREF,FIRSTURL,DEC,MSTAR,MSTARUPPER,...,TEFFLOWER,UTEFF,LOGG,LOGGUPPER,LOGGLOWER,ULOGG,FE,FEUPPER,FELOWER,UFE
2707,11 Com,b,Liu 2008,http://adsabs.harvard.edu/abs/2008ApJ...672..553L,12.345304,Liu 2008,http://adsabs.harvard.edu/abs/2008ApJ...672..553L,17.792653,2.04,0.29,...,79.0,79.0,2.61,0.13,0.13,0.13,-0.34,0.06,0.06,0.06

In [164]:
'HD 108239'.strip(' ')

'HD 108239'